<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>mist</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mist</string>
			</array>
		</dict>
	</array>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.floger.mist.helper</key>
		<string>anchor apple generic and identifier &quot;com.floger.mist.helper&quot; and certificate leaf[subject.OU] = &quot;X598BAN4RS&quot;</string>
	</dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/SUNNYM00N/Mist/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>5keDBd5mvIAICok49UqfX9WE/HVJIpe0zQCfDDqmnMg=</string>
</dict>
</plist>
